<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="not-found content">
      <h1>This page doesn't exist</h1>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
