<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>Binay Timilsina</p>
      <p>City: Barcelona</p>
      <p>Age: Unknown</p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
