<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="create-blog content">
      <form>
        <label for="title">Blog Title:</label>
        <input type="text" id="text" required />
        <label for="snippet">Blog Snippet:</label>
        <input type="text" id="snippet" required />
        <label for="body">Blog Body:</label>
        <textarea id="body" type="text" required></textarea>
        <button>Submit</button>
      </form>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
